## 1. Load the CSV file

In [3]:
!pip install pyodbc pandas

Requirement already satisfied: pyodbc in c:\programdata\anaconda3\lib\site-packages (5.0.1)
Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\programdata\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\noefo\appdata\roaming\python\python311\site-packages (from pandas) (2022.7.1)
Requirement already satisfied: tzdata>=2022.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [7]:
# Step 1: Install required libraries (run this only if not already installed)
# !pip install pyodbc sqlalchemy ipython-sql

# Step 2: Import necessary libraries
import pyodbc
import sqlalchemy
from sqlalchemy import create_engine
import pandas as pd

# Step 3: Set up the connection string
username = 'Dr-Fouotsa\noefo'
password = ''
server = ''
database = 'db_Churn'
driver = 'ODBC Driver 17 for SQL Server'

connection_string = f"mssql+pyodbc://{username}:{password}@{server}/{database}?driver={driver.replace(' ', '+')}"

# Step 4: Create the engine and connect
engine = create_engine(connection_string)

# Step 5: Query the database
query = "SELECT * FROM Customer_Data"
df = pd.read_sql(query, engine)

# Display the DataFrame
df.head()

Requirement already satisfied: pyodbc in c:\programdata\anaconda3\lib\site-packages (5.0.1)
Requirement already satisfied: sqlalchemy in c:\programdata\anaconda3\lib\site-packages (2.0.25)
Requirement already satisfied: ipython-sql in c:\programdata\anaconda3\lib\site-packages (0.5.0)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\programdata\anaconda3\lib\site-packages (from sqlalchemy) (4.9.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\programdata\anaconda3\lib\site-packages (from sqlalchemy) (3.0.1)
Requirement already satisfied: prettytable in c:\programdata\anaconda3\lib\site-packages (from ipython-sql) (3.10.2)
Requirement already satisfied: ipython in c:\programdata\anaconda3\lib\site-packages (from ipython-sql) (8.20.0)
Requirement already satisfied: sqlparse in c:\programdata\anaconda3\lib\site-packages (from ipython-sql) (0.5.0)
Requirement already satisfied: six in c:\programdata\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\programdata\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: decorator in c:\programdata\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\programdata\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.18.1)
Requirement already satisfied: matplotlib-inline in c:\programdata\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\programdata\anaconda3\lib\site-packages (from ipython->ipython-sql) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in c:\programdata\anaconda3\lib\site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in c:\programdata\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5 in c:\programdata\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: colorama in c:\programdata\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: wcwidth in c:\programdata\anaconda3\lib\site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\programdata\anaconda3\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: executing in c:\programdata\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in c:\programdata\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in c:\programdata\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)

InterfaceError: (pyodbc.InterfaceError) ('28000', "[28000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Login failed for user 'Dr-Fouotsa\\noefo'. (18456) (SQLDriverConnect); [28000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Login failed for user 'Dr-Fouotsa\\noefo'. (18456)")
(Background on this error at: https://sqlalche.me/e/20/rvf5)

In [19]:
df = pd.read_csv("../Data/Customer_Data.csv")

In [9]:
# Display structure
print("DataFrame Structure:")
print(df.info())

DataFrame Structure:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6418 entries, 0 to 6417
Data columns (total 32 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Customer_ID                  6418 non-null   object
 1   Gender                       6418 non-null   object
 2   Age                          6418 non-null   int64
 3   Married                      6418 non-null   object
 4   State                        6418 non-null   object
 5   Number_of_Referrals          6418 non-null   int64
 6   Tenure_in_Months             6418 non-null   int64
 7   Value_Deal                   2870 non-null   object
 8   Phone_Service                6418 non-null   object
 9   Multiple_Lines               5796 non-null   object
 10  Internet_Service             6418 non-null   object
 11  Internet_Type                5028 non-null   object
 12  Online_Security              5028 non-null   object
 13  Online_Backup                5028 non-null   object
 14  Device_Protection_Plan       5028 non-null   object
 15  Premium_Support              5028 non-null   object
 16  Streaming_TV                 5028 non-null   object
 17  Streaming_Movies             5028 non-null   object
 18  Streaming_Music              5028 non-null   object
 19  Unlimited_Data               5028 non-null   object
 20  Contract                     6418 non-null   object
 21  Paperless_Billing            6418 non-null   object
 22  Payment_Method               6418 non-null   object
 23  Monthly_Charge               6418 non-null   float64
 24  Total_Charges                6418 non-null   float64
 25  Total_Refunds                6418 non-null   float64
 26  Total_Extra_Data_Charges     6418 non-null   int64
 27  Total_Long_Distance_Charges  6418 non-null   float64
 28  Total_Revenue                6418 non-null   float64
 29  Customer_Status              6418 non-null   object
 30  Churn_Category               1732 non-null   object
 31  Churn_Reason                 1732 non-null   object
dtypes: float64(5), int64(4), object(23)
memory usage: 1.6+ MB
None

In [10]:
## Step 1: Handle Missing Values
df.isnull().sum()

Customer_ID                       0
Gender                            0
Age                               0
Married                           0
State                             0
Number_of_Referrals               0
Tenure_in_Months                  0
Value_Deal                     3548
Phone_Service                     0
Multiple_Lines                  622
Internet_Service                  0
Internet_Type                  1390
Online_Security                1390
Online_Backup                  1390
Device_Protection_Plan         1390
Premium_Support                1390
Streaming_TV                   1390
Streaming_Movies               1390
Streaming_Music                1390
Unlimited_Data                 1390
Contract                          0
Paperless_Billing                 0
Payment_Method                    0
Monthly_Charge                    0
Total_Charges                     0
Total_Refunds                     0
Total_Extra_Data_Charges          0
Total_Long_Distance_Charges       0
Total_Revenue                     0
Customer_Status                   0
Churn_Category                 4686
Churn_Reason                   4686
dtype: int64

In [12]:
len(df)

6418

In [11]:
# Display numerical features
numeric_columns = df.select_dtypes(include=['float64', 'int64']).columns
df[numeric_columns].head()

,Age,Number_of_Referrals,Tenure_in_Months,Monthly_Charge,Total_Charges,Total_Refunds,Total_Extra_Data_Charges,Total_Long_Distance_Charges,Total_Revenue
0,35,7,27,65.60,593.30,0.00,0,381.51,974.81
1,45,14,13,-4.00,542.40,38.33,10,96.21,610.28
2,51,4,35,73.90,280.85,0.00,0,134.60,415.45
3,79,3,21,98.00,1237.85,0.00,0,361.66,1599.51
4,80,3,8,83.90,267.40,0.00,0,22.14,289.54
...,...,...,...,...,...,...,...,...,...
6413,41,6,33,74.40,896.75,0.00,0,37.96,934.71
6414,51,0,19,45.25,3139.80,0.00,0,0.00,3139.80
6415,65,14,25,74.95,2869.85,0.00,0,599.64,3469.49
6416,23,2,10,70.15,4480.70,0.00,0,2107.52,6588.22
6417,73,13,21,96.85,1235.55,0.00,0,346.84,1582.39

In [14]:
# Display the number of missing values in each numerical column
df[numeric_columns].isnull().sum()

Age                            0
Number_of_Referrals            0
Tenure_in_Months               0
Monthly_Charge                 0
Total_Charges                  0
Total_Refunds                  0
Total_Extra_Data_Charges       0
Total_Long_Distance_Charges    0
Total_Revenue                  0
dtype: int64

There is no need of handling missing values in the numerical columns, given that there is none

In [20]:
# Dispay the columns with categorical values
categorical_columns = df.select_dtypes(include=['object']).columns
df[categorical_columns].head()

,Customer_ID,Gender,Married,State,Value_Deal,Phone_Service,Multiple_Lines,Internet_Service,Internet_Type,Online_Security,...,Streaming_TV,Streaming_Movies,Streaming_Music,Unlimited_Data,Contract,Paperless_Billing,Payment_Method,Customer_Status,Churn_Category,Churn_Reason
0,19877-DEL,Male,No,Delhi,NaN,Yes,No,Yes,Cable,No,...,Yes,No,No,Yes,One Year,Yes,Credit Card,Stayed,NaN,NaN
1,58353-MAH,Female,Yes,Maharashtra,NaN,Yes,Yes,Yes,Cable,No,...,No,Yes,Yes,No,Month-to-Month,No,Credit Card,Stayed,NaN,NaN
2,25063-WES,Male,No,West Bengal,Deal 5,Yes,No,Yes,Fiber Optic,No,...,No,No,No,Yes,Month-to-Month,Yes,Bank Withdrawal,Churned,Competitor,Competitor had better devices
3,59787-KAR,Male,No,Karnataka,Deal 4,Yes,No,Yes,Fiber Optic,No,...,Yes,Yes,No,Yes,Month-to-Month,Yes,Bank Withdrawal,Churned,Dissatisfaction,Product dissatisfaction
4,28544-TAM,Female,No,Tamil Nadu,NaN,Yes,No,Yes,Fiber Optic,No,...,Yes,No,No,Yes,Month-to-Month,Yes,Credit Card,Churned,Dissatisfaction,Network reliability

In [21]:
# Fill missing categorical data with 'Unknown'
df[categorical_columns]= df[categorical_columns].fillna('Unknown')
df[categorical_columns].head()

,Customer_ID,Gender,Married,State,Value_Deal,Phone_Service,Multiple_Lines,Internet_Service,Internet_Type,Online_Security,...,Streaming_TV,Streaming_Movies,Streaming_Music,Unlimited_Data,Contract,Paperless_Billing,Payment_Method,Customer_Status,Churn_Category,Churn_Reason
0,19877-DEL,Male,No,Delhi,Unknown,Yes,No,Yes,Cable,No,...,Yes,No,No,Yes,One Year,Yes,Credit Card,Stayed,Unknown,Unknown
1,58353-MAH,Female,Yes,Maharashtra,Unknown,Yes,Yes,Yes,Cable,No,...,No,Yes,Yes,No,Month-to-Month,No,Credit Card,Stayed,Unknown,Unknown
2,25063-WES,Male,No,West Bengal,Deal 5,Yes,No,Yes,Fiber Optic,No,...,No,No,No,Yes,Month-to-Month,Yes,Bank Withdrawal,Churned,Competitor,Competitor had better devices
3,59787-KAR,Male,No,Karnataka,Deal 4,Yes,No,Yes,Fiber Optic,No,...,Yes,Yes,No,Yes,Month-to-Month,Yes,Bank Withdrawal,Churned,Dissatisfaction,Product dissatisfaction
4,28544-TAM,Female,No,Tamil Nadu,Unknown,Yes,No,Yes,Fiber Optic,No,...,Yes,No,No,Yes,Month-to-Month,Yes,Credit Card,Churned,Dissatisfaction,Network reliability

In [22]:
# Combine the numeric and filled categorical columns
df_combined = pd.concat([df[numeric_columns], df[categorical_columns]], axis=1)
df_combined.head()

,Age,Number_of_Referrals,Tenure_in_Months,Monthly_Charge,Total_Charges,Total_Refunds,Total_Extra_Data_Charges,Total_Long_Distance_Charges,Total_Revenue,Customer_ID,...,Streaming_TV,Streaming_Movies,Streaming_Music,Unlimited_Data,Contract,Paperless_Billing,Payment_Method,Customer_Status,Churn_Category,Churn_Reason
0,35,7,27,65.6,593.30,0.00,0,381.51,974.81,19877-DEL,...,Yes,No,No,Yes,One Year,Yes,Credit Card,Stayed,Unknown,Unknown
1,45,14,13,-4.0,542.40,38.33,10,96.21,610.28,58353-MAH,...,No,Yes,Yes,No,Month-to-Month,No,Credit Card,Stayed,Unknown,Unknown
2,51,4,35,73.9,280.85,0.00,0,134.60,415.45,25063-WES,...,No,No,No,Yes,Month-to-Month,Yes,Bank Withdrawal,Churned,Competitor,Competitor had better devices
3,79,3,21,98.0,1237.85,0.00,0,361.66,1599.51,59787-KAR,...,Yes,Yes,No,Yes,Month-to-Month,Yes,Bank Withdrawal,Churned,Dissatisfaction,Product dissatisfaction
4,80,3,8,83.9,267.40,0.00,0,22.14,289.54,28544-TAM,...,Yes,No,No,Yes,Month-to-Month,Yes,Credit Card,Churned,Dissatisfaction,Network reliability

In [24]:
df_combined.isnull().sum()

Age                            0
Number_of_Referrals            0
Tenure_in_Months               0
Monthly_Charge                 0
Total_Charges                  0
Total_Refunds                  0
Total_Extra_Data_Charges       0
Total_Long_Distance_Charges    0
Total_Revenue                  0
Customer_ID                    0
Gender                         0
Married                        0
State                          0
Value_Deal                     0
Phone_Service                  0
Multiple_Lines                 0
Internet_Service               0
Internet_Type                  0
Online_Security                0
Online_Backup                  0
Device_Protection_Plan         0
Premium_Support                0
Streaming_TV                   0
Streaming_Movies               0
Streaming_Music                0
Unlimited_Data                 0
Contract                       0
Paperless_Billing              0
Payment_Method                 0
Customer_Status                0
Churn_Category                 0
Churn_Reason                   0
dtype: int64

In [25]:
# Step 2: Correct Negative Values by using the absolute function
# Assuming negative values in 'Monthly_Charge' do not make sense
df_combined['Monthly_Charge'].unique()

array([65.6 , -4.  , 73.9 , ..., 48.85, 67.05, 64.1 ])

In [26]:
df_combined['Monthly_Charge'] = df_combined['Monthly_Charge'].abs()

In [28]:
# Step 4: Convert Data Types
# Convert 'Total_Charges', 'Total_Refunds', 'Total_Extra_Data_Charges', 'Total_Long_Distance_Charges', and 'Total_Revenue' to numeric
df_combined[['Total_Charges', 'Total_Refunds', 'Total_Extra_Data_Charges', 'Total_Long_Distance_Charges', 'Total_Revenue']] = df_combined[['Total_Charges', 'Total_Refunds', 'Total_Extra_Data_Charges', 'Total_Long_Distance_Charges', 'Total_Revenue']].apply(pd.to_numeric, errors='coerce')

# Display cleaned structure
print("Cleaned DataFrame Structure:")
print(df_combined.info())

# Save cleaned data to a new CSV
cleaned_file_path = '../Data/Cleaned_Customer_Data.csv'
df_combined.to_csv(cleaned_file_path, index=False)
print(f"Cleaned data saved to {cleaned_file_path}")

Cleaned DataFrame Structure:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6418 entries, 0 to 6417
Data columns (total 32 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Age                          6418 non-null   int64
 1   Number_of_Referrals          6418 non-null   int64
 2   Tenure_in_Months             6418 non-null   int64
 3   Monthly_Charge               6418 non-null   float64
 4   Total_Charges                6418 non-null   float64
 5   Total_Refunds                6418 non-null   float64
 6   Total_Extra_Data_Charges     6418 non-null   int64
 7   Total_Long_Distance_Charges  6418 non-null   float64
 8   Total_Revenue                6418 non-null   float64
 9   Customer_ID                  6418 non-null   object
 10  Gender                       6418 non-null   object
 11  Married                      6418 non-null   object
 12  State                        6418 non-null   object
 13  Value_Deal                   6418 non-null   object
 14  Phone_Service                6418 non-null   object
 15  Multiple_Lines               6418 non-null   object
 16  Internet_Service             6418 non-null   object
 17  Internet_Type                6418 non-null   object
 18  Online_Security              6418 non-null   object
 19  Online_Backup                6418 non-null   object
 20  Device_Protection_Plan       6418 non-null   object
 21  Premium_Support              6418 non-null   object
 22  Streaming_TV                 6418 non-null   object
 23  Streaming_Movies             6418 non-null   object
 24  Streaming_Music              6418 non-null   object
 25  Unlimited_Data               6418 non-null   object
 26  Contract                     6418 non-null   object
 27  Paperless_Billing            6418 non-null   object
 28  Payment_Method               6418 non-null   object
 29  Customer_Status              6418 non-null   object
 30  Churn_Category               6418 non-null   object
 31  Churn_Reason                 6418 non-null   object
dtypes: float64(5), int64(4), object(23)
memory usage: 1.6+ MB
None
Cleaned data saved to ../Data/Cleaned_Customer_Data.csv

In [ ]:
# Database credentials
server = 'your_server'  # e.g., 'localhost\\SQLEXPRESS'
database = 'your_database'
username = 'your_username'
password = 'your_password'
driver = 'ODBC Driver 17 for SQL Server'

# Create connection string
connection_string = (
    f'mssql+pyodbc://{username}:{password}@{server}/{database}?driver={driver}'
)

# Create SQLAlchemy engine
engine = create_engine(connection_string)

# Push DataFrame to MSSQL (to a table named 'your_table')
df_combined.to_sql('Cleaned_Customer_data', con=engine, if_exists='replace', index=False)

print("DataFrame pushed to MSSQL successfully.")